

/* .header{
  border: 2px black solid; 
  width: 0;
} */
/* .source{
  position: inline;
  border: 2px black solid; 
  height: 2em; 
  float: right; 
  padding: 0;
  
} */

.logo{
    height: 100px;
    width: 10em;
    margin-top: 0px;
    position: inline;
   
    padding: 0; 
    float:left;
  }
  .source{
    padding-top: 2.5%;
    font-stretch: expanded;
  }